/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  
html, body {
	height: 100% !important;
}

ul,li,nav {
	padding: 0 !important;
}

input {
	border: 1px solid #d7d7d7;
}

.main-img {
	height: 290px;
}

.headerh {
	height: 290px;
}

.header-title {
	font-size: 2em;
	font-weight: 700;
	color: #666666;
	text-decoration: none;
}

.header-sub {
	font-size: 0.9em;
	color: #666666;
}

.header-left {
	float:left;
	text-align: center;
	margin-top: 50px;
	line-height: 1.5em;
}

.header-line {
	display: inline-block;
	margin-bottom: 3px;
	width: 80px;
	height: 1.5px;
	background: #666666;
}

.content-container {
	width: 100%;
	overflow: hidden;
	background-color: #ebebeb;
	padding-bottom: 1em;
}

.client-line {
	padding: 9px 0 3.5em;
}

.shoping-cart {
	text-transform: uppercase;
	margin-left: -25px;
}

.shoping-cart img {
	margin-right: 5px;
}

.index-div {
	background: #ffffff;
	height: 290px;
	-webkit-transition: background 0.3s ease;
  	-moz-transition: 	background 0.3s ease;
  	-o-transition: 		background 0.3s ease;
  	transition: 		background 0.3s ease;
}

.index-div:hover {
	background: #cccccc;
}

.index-div:hover .view-img {
	color: #000000;
}

.index-div, .adv-div {
	margin-bottom: 10px;
}

.index-div-title {
	margin-left:25px;
	width: 50%;
	font-size: 1.3em;
	font-weight: 700;
	line-height: 1em;
}

.index-div-text {
	margin-left:25px;
}

.index-div .image {
	float:left;
	height:100%;
	max-width: 50%;
}

.index-div .view-img {
	position: absolute;
	color: #ffffff;
	text-decoration: none;
	background: url("../img/view.png") no-repeat;
	line-height: 58px;
	text-align: center;
	right: 10px;
	bottom: 10px;
	width: 58px;
	height: 58px;
}

.index-div.index:nth-of-type(4n) .view-img{
	left:10px;
}

.index-div.index:nth-of-type(4n+3) .view-img{
	left:10px;
}

.index-div.index:nth-of-type(4n) .image {
	float: right;
}
.index-div.index:nth-of-type(4n+3) .image {
	float: right;
}

.index-div.article:nth-of-type(2n) .view-img{
	left:10px;
}

.index-div.index:nth-of-type(1n) {
	margin-left: 0;
	margin-right: 10px;
}

.index-div.index:nth-of-type(2n) {
	margin-right: 0;
}

.index-div-cont {
	float: left;
}

.index-div:nth-of-type(4n) .index-div-cont {
	margin: 0;
}

.index-div:nth-of-type(4n+3) .index-div-cont {
	margin: 0;
}

.article-div-cont {
	float: left;
}

.index-div .image-art {
	float: left;
	max-width: 70%;
	height: 290px;
}

.index-div:nth-child(2n) .image-art {
	float: right;
}

.adv-div {
	margin-left: 0;
	margin-right: 0;
	height: 290px;
}

.adv-div:nth-of-type(2) {
	height: 590px;
}

.adv-div img {
	height: 100%;
	width: 100%;
}

.search-input {
	width: 100%;
}

.menu-1 {
	margin-left: 80px;
	height: 100%;
}

.menu-1-option {
	display: block;
	text-transform: uppercase;
	padding: 5px 0 5px 0;
}

.logreg {
	position: absolute;
	bottom: 30px;
}

.menu-2-option {
	display: block;
	padding: 2px 0 2px 0;
}

.menu-1-option,.logreg,.menu-2-option {
	text-decoration: none;
	color: #999999;
}

.new {
	color: #ff3333;
	font-weight: 700;
}

.menu-1-option:hover {
	color: #000000;
}

.menu-2-option:hover {
	color: #000000;
}

.logreg:hover {
	color: #000000;
}

.article-left {
	height: 290px;
	overflow: hidden;
	border-bottom: 1px solid #ffffff;
}

.shop-left-cat {
	display: block;
	font-weight: 700;
	margin: 5px 0 5px;
	text-decoration: none;
	color: #000000;
}

.cat-open {
	margin-bottom: 30px;
}

.cat-open a{
	text-decoration: none;
	color: #000000;
}

.article-left-title {
	font-size: 1.1em;
	font-weight: 700;
	margin-top:0;
	text-transform: uppercase;
}

.article-left-sub {
	font-weight: 700;
	white-space:nowrap;
}

.article-left-text {
	color: #666666;
}

.tags {
	font-size:1.2em;
	color: #666666;
}

.tag {
	text-decoration: none;
	color: #666666;
}

.wrapper {
	min-width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

.footer-link {
	color: #666666;
	float: left;
	text-decoration: none;
	margin-right: 40px;
}

.footer-soc {
	float: right;
	margin-left: 5px;
}

.footer-link:hover {
	color: #999999;
}

.disclaimer {
	line-height: 1em;
	margin-top: 1em;
	color: #999999;
}

.disclaimer .title {
	font-weight: 700;
}

.copy {
	margin-top: 20px;
	color: #999999;
}

.copy-sk {
	float: left;	
}

.copy-gr {
	float: right;
}

footer, .push {
	height: 142px; /* .push must be the same height as .footer */
}


.shop-div {
	height: 320px;
	margin-bottom: 50px;
}

.shop-div .shop-img{ 
	max-width: 100%;
	height: 290px;
}

.shop-new {
	position: absolute;
}

.shop-desc {
	position: absolute;
	bottom: 0;
	height: 85px;
	width: 100%;
}


.shop-desc-top {
	position: relative;
	height: 55px;
	background: #ffffff;
}

.shop-desc-bottom {
	position: relative;
	height: 30px;
	line-height: 30px;
}

.shop-desc-top p {
	font-size: 0.9em;
	padding: 7px;
	color: #333333;
}

.price {
	color: #333333;
}

.price-old {
	margin-left: 10px;
	text-decoration: line-through;
	font-size: 0.8em;
	color: #646464;
}

.add-cart {
	position: absolute;
	background: #999999;
	color: #ffffff;
	height: 25px;
	right: 10px;
	top: 2px;
	line-height: 25px;
	text-decoration: none;
}

.add-cart span{
	font-size: 0.6em;
	text-transform: uppercase;
	margin: 0 15px 0 15px;
}

.art-block {
	background: #efefef;
	height: 140px;
	margin-bottom: 10px;
}

.art-block p {
	margin-left: 10px;
}

.art-title {
	font-weight: 700;
	margin-top: 10px;
}

.art-text {
	font-size: 0.8em;
	margin-bottom: 0;
}

.read-more {
	font-size: 0.8em;
	font-weight: 700;
	margin-top: 5px;
}

.art-sim {
	color: #666666;
}

.one-item-wr {
	margin-bottom: 10px;
	background: #ffffff;
}

.one-item-div {
	overflow: hidden;
	margin: 20px;
}

.one-item-img {
	float: left;
}

.one-item-img .one-img {
	height: 290px;
	max-width: 235px;
}

.one-item-desc {
	position: relative;
	margin-left: 20px;
	text-align: justify;
	width: 405px;
	height: 290px;
	float: left;
}

.one-item-title {
	font-weight: 700;
	margin-top: 0;
}

.one-item-text {
	font-size: 0.8em;
}

.add-cart.item {
	right: 0 !important;
}

.shop-desc-bottom.item {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.item-block {
	overflow: hidden;
	float: left;
	margin-top: 30px;
}

.item-block .art-title {
	font-size: 1.1em;
	font-weight: 400;
	margin-bottom: 20px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
